<header class="nav">
    <ul class="list-unstyled list-inline">
        <li><a href="/index">项目</a></li>
        <li><a href="/dynamic">动态</a></li>
        <li><a href="/calendar">日历</a></li>
        <li><a href="/weeklys">周报</a></li>
        <li><a href="/team">团队</a></li>
        <!--<li><a href="">知人</a></li>-->
        <li>
            <div class="dropdown">
                <button class="btn" style="border:none;background-color: #F4F7ED;font-size:
                         16px;color: rgba(85,85,85,0.5);" data-toggle="dropdown">我自己 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/myTasks">任务</a></li>
                    <li><a href="/myWeek">周报</a></li>
                    <li><a href="/updatePwd">修改密码</a></li>
                    <li><a href="/">退出</a></li>
                </ul>
            </div>
        </li>
        <li>
                    <span style="position:relative;top:0px;left: -6px;border-radius: 90%;width: 4px;height: 4px;
                        background-color: #bb0c0d;box-shadow: 20px;color: #fff">&nbsp;0&nbsp;</span>
            <a href="tips">
                <i class="icon-bell"></i>
            </a>
        </li>
    </ul>
</header>