/*声明 WebFont*/
/*@font-face {
    font-family: 'MFYueYuan';
    src: url('../font/MFYueYuan.eot');
    src: url('../font/MFYueYuan.eot?#font-spider') format('embedded-opentype'), url('../font/MFYueYuan.woff') format('woff'), url('../font/MFYueYuan.ttf') format('truetype'), url('../font/MFYueYuan.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*使用选择器指定字体*/
/*
.home h1,
.demo > .test {
    font-family: 'MFYueYuan';
}*/

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

body {
    height: 100%;
    font-size=62.5%;
    color: #444443;
}
/*---------------------------index.html style begin---------------------*/

.home-header {
   
}

.home-top {
   background: rgb(0, 204, 255) none repeat scroll 0% 0%;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .0001) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .0001) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.home-top-image {
    margin-top: 22px;
    height: 20px;
    width: 100%;
}

.home-button {
    height: 9.5%;
}

.home-h1 {
    font-family: 'MFYueYuan';
    font-size: 2.0em;
    color: #fff;
    text-align: center;
    vertical-align: bottom;
    margin: 0 0 -3px;
}

.home-name {
    color: #fff;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    margin: 0 0 -3px;
}

.home-buttona {
    background-color: #3cd3e7;
    height: 100%;
    border: 0px;
    color: #fff;
    font-size: 0.8em;
}

.home-button:visited {
    border: 0px;
}

.home-home {
   top: 34px;
margin-bottom: 46px;
}

.home-button>.home-buttona>a {
    text-decoration: none;
    color: #fff;
}

.home-button-h1 {
    font-size: 2.0em;
    margin: 0 0 -3px;
}

.home-active {
    background-color: #5de5f1;
}

.home-content {
    height: 38%;
    margin-top: 28px;
}

.home-content-top {
   
}

.home-content-h2 {
    color: #66ccff;
    font-size: 1em;
}

.home-content-p {
    font-size: 1em;
    text-indent: 2em;
}

.carousel {
    position: relative;
    height: 127px;
        top: 21px;
}
}

.home-header-jiantou {
    display: block;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 49px;
    height: 49px;
    margin: 34px 21px;
    padding: 4px;
    overflow: hidden;
    opacity: 1.0;
    background-color: #5de5f1;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(253, 252, 252, 0.6);
    filter: alpha(opacity=50);
    opacity: 1;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
    position: absolute;
    top: 33%;
    z-index: 5;
    display: inline-block;
}
/*---------------------------index.html style end ------------------------*/
/*---------------------------login.html style begin------------------------*/

.login-header {
    background-color: #00ccff;
    height: 47%;
}

.login-content {
    height: 38.5%;
}

.login-content-com {
    color: #66ccff;
    margin-top: 10px;
}

.login-header-img {
    height: 127px;
    top: 22px;
    margin: 0px auto;
}

.login-top-image {
    margin-top: 22px;
    height: 7.3%;
}

.login-glyphicon-menu-left {
    font-size: 21px;
    color: #fff;
    margin-left: 10px;
}

.login-glyphicon-menu-left:hover {
    color: #fff;
    text-decoration: none;
}

.login-header-imga {
    display: block;
    width: 127px;
    margin: 0px auto;
    top: 10px;
}

.login-content-ct {
    margin-top: 25px;
}

.login-content-nameinput {
    border-style: none none solid none;
    border-color: #e0e0e0;
}

.login-footer {
    height: 14.5%;
    bottom: 0px;
    left: 0;
    right: 0;
}

.login-footer-button {
    height: 100%;
    background-color: #00ccff;
    border: 0px;
    color: #ffffff;
    font-size: 3em;
}
/*---------------------------login.html style end------------------------*/
/*---------------------------createcf.html style begin------------------------*/

.createcf-header {
    height: 22%;
    background-color: #00ccff;
}

.createcf-content {
    height: 63.5%;
}

.createcf-footer {
    height: 14.5%;
    bottom: 0px;
    left: 0;
    right: 0;
}

.createcf-footer-button {
    background-color: #00ccff;
    border: 0px;
    color: #ffffff;
    font-size: 3em;
}

.createcf-header-h1 {
    margin-top: 25px;
}

.createcf-content-ct {
    margin-top: 25px;
}

.ConferenceTime {
    color: #66ccff;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0px solid #ccc;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(252, 250, 250, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.has-success .form-control {
    border-color: #00ccff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(253, 253, 253, 0.075);
}

.create-content-form {
    color: #00ccff;
}

.has-success .checkbox,
.has-success .checkbox-inline,
.has-success .control-label,
.has-success .help-block,
.has-success .radio,
.has-success .radio-inline,
.has-success.checkbox label,
.has-success.checkbox-inline label,
.has-success.radio label,
.has-success.radio-inline label {
    color: #00ccff;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}
