<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>待处理任务</title>
    <!--TODO:通用资源文件-->
    <% include _partials/resources.html %>
    <!--首页样式css文件-->
    <link rel="stylesheet" href="assets/css/common.css">
    <link rel="stylesheet" href="assets/css/watiDealTask.css">
    <link rel="stylesheet" href="assets/css/installProject.css">
</head>
<body>
<div class="container-fluid">
    <div class="col-md-1 text-center"></div>
    <div class="col-md-10 text-center">
        <!--TODO: 项目公用header-->
        <% include _partials/header.html %>
        <div class="col-md-12 main row animated fadeInDown">
            <div class="col-md-12" style="margin-top: 25px">
                <div class="col-md-4 text-left">
                    <div class="project-name"><%=projectname%></div>
                    <div class="project-desc"><%=projectdesc%></div>
                </div>
                <div class="col-md-8 text-right project-selection">
                    <a href="/waitDealTask">待处理任务</a>  <!--(1)-->
                    <a href="/projectMembers">成员</a>   <!--(3)-->
                    <a href="/projectSetting">设置</a>
                </div>
                <div class="col-md-12 project-line1"></div>
                <div class="col-md-12 project-line2"></div>
            </div>
            <div class="col-md-12" style="margin-left: 30px">
                <div class="col-md-12 text-left"
                     style="margin-top: 30px">
                    <div style="font-size:20px;color: #333;font-weight: bold" class="text-left">项目成员</div>
                    <p style="font-size: 14px;color: #999;margin:3px 0 3px 0;" class="text-left">
                        管理员可以邀请和移除项目成员，只有被邀请的团队成员才能访问该项目的信息。
                    </p>
                </div>
                <div class="text-left col-md-12" style="margin-left: 10px;margin-top: 25px;">
                    <div style="color: #84a099; border-color: #84a099;">团队成员</div>
                    <div class="col-md-1" style="border:1px solid  #84a099;"></div>
                    <div class="col-md-11" style="border:1px solid  #eeeeee;"></div>
                    <div class="col-md-2 text-left" style="margin-top: 10px">
                        <select name="members" id="members" class="form-control">
                            <option value="0" data-id="0">点击添加成员</option>
                            <option value="lll" data-id="11">赖裕雄</option>
                            <option value="llp" data-id="22">吴彦彬</option>
                            <option value="llo" data-id="33">****</option>
                        </select>
                    </div>
                    <div class="col-md-10 project-text-tip">&nbsp;</div>
                    <div class="col-md-12 text-left" style="margin-top: 20px">
                        <ul class="checkedMembers">
                            <% members.map(function(member,index){ %>
                                <li class="members_one members_one_<%=member.memberID%> text-center" title="点击取消" about="<%=member.memberID%>"
                                    onclick="delMember(<%=member.memberID%>)"><%=member.memberName%>
                                </li>
                            <% })%>
                        </ul>
                    </div>
                    <div class="col-md-12" style="margin-top: 70px;">
                        <input type="submit" name="project_install" class="btn btn-primary" value="保存设置">
                        <a href="index.html" class="btn btn-default">取消</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 text-center"></div>
    </div>
</div>
</body>
<script>
    /***********************************************************
     *  注：map  这里应该直接使用项目成员租的数组，彬总自己加上去
     * */
    var map = new Array();
    $(function () {
        $("#members").change(function () {
            var user_id = $("#members option:selected").attr("data-id");
            var user_name = $("#members option:selected").text();
            console.log(map);
            if (user_id != '0' && map.indexOf(user_id) < 0) {
                map.push(user_id);
                $(".checkedMembers").append('<li class="members_one members_one_' + user_id + ' text-center" title="点击取消" about="1" ' +
                        'onclick="delMember(' + user_id + ')">' + user_name + '</li>');
            }
        });
        $("[name=project_install]").click(function () {
            var project_members = map;
            var project_id = 8;
            /*******ajax请求操作*******/
            $.ajax({
                type: "POST",  //提交方式
                url: "xxxxxx你自己想xxxxxxxxxx",//路径
                data: {
                    "project_members": project_members,   //项目成员 id数组
                    "project_id": project_id             //对应的项目id那些，自己看
                },//数据，这里使用的是Json格式进行传输
                success: function (result) {//返回数据根据结果进行相应的处理
                    if (result.success) {     //*******注：这里需要自己定义！！！！！
                        $(".project-text-tip").html('<marquee direction="left" style="font-family: 楷体">保存成功</marquee>');
                    } else {
                        $(".project-text-tip").html('<marquee direction="left" style="font-family: 楷体">保存失败</marquee>');
                    }
                },
                error: function (err) {
                    $(".project-text-tip").html('<marquee direction="left" style="font-family: 楷体">保存失败</marquee>');
                }
            });
        });
    });
    function delMember(user_id) {
        var class_name = "members_one_" + user_id;
        var index;   //定义索引
        for (var i = 0; i < map.length; i++) {  //寻找下标
            if (map[i] == user_id) index = i;
        }
        map.splice(index, 1);
        $("." + class_name).remove();
    }
</script>
<script src="/assets/js/mobileBar.js"></script>
</html>